/**
 * @brief css default
 * @author Marcus Vinicius Brum da Costa <marcus@kondotek.com.br>
 * @date   31/08/2015
 */
* {
    padding:0;
    margin:0;
}

body {
    width:100%;
    background: #F9F9F9;
    font-family:Arial;
    font-size:12px;
}

/*[INI] ------------- Inputs ---------------- */
input[type="text"],input[type="password"] {
    margin: 0;
    outline: 0;
    background-color: #fff;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #ccc;
    height: 15px;
}

input[type="text"]:focus,input[type="password"]:focus,input[type="checkbox"]:focus,textarea:focus {
    border: 1px solid #ccc;
    text-transform: none;
    /*box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 0 8px rgb(215, 86, 0);*/
    box-shadow:0px 0px 6px #5E5E5E;
}
/*[FIM] ------------- Inputs ---------------- */


textarea { resize: none; }

.header {
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #EEE;
    box-shadow:0px 0px 2px #5E5E5E;
    position: relative;
}

.header_container a {
    width: 228px;
    height: 63px;
    padding-top: 15px;
    display: inline-block;
}

.header_container {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

img {
    max-width: 100%;
}

a img {
    border:none;
}

.fieldset_centralizado {
    margin: auto;
    text-align: center;
}

.fieldset_centralizado legend {
    text-align: left;
    font-weight: bolder;
}

#logo {
    margin-left:50px;
    margin-top:10px;
}

#container {
    width:960px;
    color:#333;
    margin: 0 auto;
}

#footer_rodape {
    background-color:#eee;
    width:100%;
    height:25px;
    box-shadow:0px 0px 2px #5E5E5E;
    position:fixed;
    bottom:0;
    text-align:center;
    display:block;
    z-index:80;
}

#footer_rodape > span {
    display:block;
    margin-top: 5px;
}

.button {
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.3)) !important;

    border-radius: 3px;
    color: #fff;
    font-weight: bold;
}

.btn_laranja {
    border-radius: 3px;
    font-weight: bold;
    background-color: #E69E6D;
    border: 0;
    border-bottom: 3px solid;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}


.btn_azul {
    border-radius: 3px;
    font-weight: bold;
    border: 0;
    border-bottom: 3px solid #3C93D5;
    background-color: #55acee;
	color: #FFF;
}

.btn_azul:hover {
  background-color: #6FC6FF;
}

.btn_cancelar {
    border-radius: 3px;
    font-weight: bold;
    border: 0;
    border-bottom: 3px solid #CE3323;
    background-color: #e74c3c;
	color: #FFF;
}

.btn_cancelar:hover {
  background-color: #FF6656;
}

.btn_confirmar {
    border-radius: 3px;
    font-weight: bold;
    border: 0;
    border-bottom: 3px solid #15B358;
    background-color: #2ecc71;
	color: #FFF;
}

.btn_confirmar:hover {
    background-color: #48E68B;
}

.button:hover {
    background-color:#EAB795 !important;
    color: #F4F4F4;
    cursor:pointer;
    background: rgb(64,150,238); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(64,150,238,1) 0%, rgba(96,171,248,1) 44%, rgba(122,188,255,1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(64,150,238,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(99%,rgba(122,188,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(64,150,238,1) 0%,rgba(96,171,248,1) 44%,rgba(122,188,255,1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(64,150,238,1) 0%,rgba(96,171,248,1) 44%,rgba(122,188,255,1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(64,150,238,1) 0%,rgba(96,171,248,1) 44%,rgba(122,188,255,1) 99%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(64,150,238,1) 0%,rgba(96,171,248,1) 44%,rgba(122,188,255,1) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#7abcff',GradientType=0 ); /* IE6-9 */
}

.btn_laranja:hover {
    background-color:#F18A45 !important;
    border-color: #A9663A;
    color: #333;
    cursor:pointer;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#7abcff',GradientType=0 ); /* IE6-9 */
}

.btn_espacos {
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-bottom: 20px;
}

.info_votacoes {
    margin-left: 70%;
    text-align: center;
    width: 30%;
    height: 20px;
    margin-top: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color:#EEE;
    border-top: none !important;
    box-shadow: 0px 0px 13px #5E5E5E;
    font-weight: bold;
    overflow: hidden;
}

.info_votacoes p {
    padding-top: 2px;
    color: #FF6600;
}

.acesso {
    position: absolute;
    display: inline-block;
    min-width:40%;
    height:45px;
    text-align: center;
    margin-left: 5%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: none;
    box-shadow: 0px 0px 13px #888888;
    padding-left: 8px;
    padding-right: 8px;
    background: #928F8F;
    color: #FFF;
    font-weight: bolder;
}

.acesso p {
    top: 5px;
    padding-top: 14px;
}

nav {
    width: 100%;
}

nav ul {
    text-align: center;
    padding:0px;
    margin:0px;
    list-style:none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

nav ul li a:hover {
    border-radius: 5px;
    background-color:#D6D6D6;
    border-bottom:3px solid #FF6600;
}

.ativo {
    border-radius: 5px;
    background-color:#D6D6D6;
    border-bottom:3px solid #FF6600;
}

.alert-box {
    text-align: center;
    padding: 6px;
    background-color: #FF6600;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
}

.success {
    background-color: #CCC;
    border-radius: 6px;
}

.alert {
    color: #fff;
    margin-top: 5px;
    border-radius: 6px;
    background-color: red;
}

fieldset {
    border-radius: 6px;
}

/*  ESTILIZAÇÃO DAS TABELAS DO DataTable */
.table_style thead {
    background: #333;
    color: #FFF;
}

.table_style tbody tr {
    background: #F9F9F9;
    color: #555;
}

.table_style tbody tr:nth-child(even) {
    background: #EEE;
}

.table_style tbody tr:hover {
    background: #CCC;
    color: #222;
}



.dataTables_filter label {
    display: block !important;
    margin-bottom: 10px;
}


/* CONFIGURAÇÕES DA DIALOG */

#noty_center_layout_container li {
    background: #FFF;
    width: 360px !important;
}

.noty_message {
    padding: 0 0 5px 0 !important;
}

.titulo_padrao_dialogs {
    margin-bottom: 5px;
    padding: 5px;
    font-weight: bolder;
    margin-bottom: 5px;
}


.titulo_padrao_dialogs_laranja {
    background-color: #F1A06B;
    color: #FFF;
}

.titulo_padrao_dialogs_cinza {
    background-color: #333;
    color: #FFF;
}
