/**
 * @brief css inicio
 * @author Marcus Vinicius Brum da Costa <marcus@kondotek.com.br>
 * @date   22/09/2015
 */

/*[INI] ------------- ASIDE ---------------- */
.login_contato {
    float: right;
    width: 50%;
    margin-top: 10px;
}

.login {
    width:50%;
    text-align:center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.btn_entrar {
    font-size: 14px;
    width: 50%;
    height: 30px;
}

.button_enviar {
    margin-top: 10px;
    font-size: 14px;
    width: 30%;
    height: 20px;
    margin-bottom: 10px;
}

.button_saiba_mais {
    float: right;
    font-size: 14px;
    width: 30%;
    height: 25px;
}

label {
    display: none;
}

.contato {
    background:#666666;
    width:50%;
    color:#fff;
    padding:2px;
    text-align:center;
    border-radius: 10px;
    box-shadow:0px 0px 2px #5E5E5E;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.contatoform {
    margin-top: 15px;
}

.input_contato_nome, .input_contato_email, .input_contato_mensagem {
    width: 90%;
}

.input_contato_mensagem {
    margin: 0;
    outline: 0;
    background-color: #fff;
    padding: 2px;
    border-radius: 3px; 
    border: none !important;
    height: 100px;
}

.introducao {
    width: 50%;
    float: left;
    margin-top: 10px;
}

.introducao_container {
    margin: 0 auto;
    padding-left: 41px;
    padding-right: 41px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    margin-top: 15px;
    background-color: #666;
    border-radius: 10px;
    color: #fff;
    border: 2px solid #FF6600;
}

.titulo {
    font-size: 20px;
    margin-bottom: 10px;
}
/*[FIM] ------------- ASIDE ---------------- */