/**
 * @brief css login
 * @author Marcus Vinicius Brum da Costa <marcus@kondotek.com.br>
 * @date   30/08/2015
 */

.login {
    background:#666666;
    width:40%;
    color:#fff;
    padding:2px;
    text-align:center;
    border-radius: 10px;
    box-shadow:0px 0px 2px #5E5E5E;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}

.loginform {
    margin-top: 10px;
}

#recovery_login {
    text-align: center;
    display: block;
    color:#FFF;
    margin-top: 15px;
    margin-bottom: 5px;
}

#recovery_login a:hover {
    cursor:pointer;
    color: orange;
}

#recovery_login a {
    padding-left: 15px;
    text-decoration: none;
    color: #fff;
}

#table_recupera_senha {
    margin: auto;
    text-align: center;
}

#table_recupera_senha strong {
    font-weight: bolder !important;
    color: #FFF !important;
}

#fieldset_recupera_senha {
  background: #666;
}

#table_recupera_senha tr td {
    padding-top: 10px;
}


.btn_voltar_login {
   font-size: 14px;
}
.button_login {
    margin-top: 15px;
    font-size: 12px;
    width: 20%;
    height: 20px;
    margin-left: 5%;
}


label {
    display: none;
}

.input_login_email {
    width: 80%;
}

.input_login_senha {
    width: 55%;
}
