/**
 * @brief css ocorrencias
 * @author Marcus Vinicius Brum da Costa <marcus@kondotek.com.br>
 * @date   04/10/2015
 */

.ocorrencias {
    width: 100%;
}

.tabela {
    margin-top: 20px;
    text-align: center;
}

#tb_ocorrencias {
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
}



.texto_centralizado {
    text-align: center;
}

.btn_editar {
    background: url("../images/actions-edit.png");
    width: 16px;
    height: 16px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 3px;
}

.btn_excluir {
    background: url("../images/actions-delete.png");
    width: 16px;
    height: 16px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 3px;
}

.cad_ocorrencia {
    margin-bottom: 20px;
}

.frm_cadastro {
    margin-top: 15px;
}

.input_titulo {
    top: 5px;
    display: inline-block;
}

.input_texto {
    display: inline-block;
}

label {
    display: none;
}

.btn_cancelar, .btn_cadastrar {
    width: 100px;
    height: 20px;
    margin: 5px;
}

#cadastrar_ocorrencia {
    display: none;
}
