/**
 * @brief css votacao
 * @author Marcus Vinicius Brum da Costa <marcus@kondotek.com.br>
 * @date   22/09/2015
 */

.votacao {
    width: 100%;
}

.tabela {
    margin-top: 20px;
    text-align: center;
}

#tb_votacao {
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
}

.texto_centralizado {
    text-align: center;
}

.btn_editar {
    background: url("../images/actions-edit.png");
    width: 16px;
    height: 16px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 3px;
}

.btn_excluir {
    background: url("../images/actions-delete.png");
    width: 16px;
    height: 16px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 3px;
}

.frm_cadastro {
    margin-top: 15px;
}

.input_titulo {
    top: 5px;
    display: inline-block;
}

.input_texto {
    display: inline-block;
}

label {
    display: none;
}

.btn_cancelar, .btn_cadastrar {
    margin-top: 10px;
}

.btn_cadastrar {
    margin-left: 5px;
}
