/**
 * @brief css painel sindico
 * @author Marcus Vinicius Brum da Costa <marcus@kondotek.com.br>
 * @date   09/09/2015
 */

.painel_btns {
    width: 100%;
    margin-top: 10%;
    text-align: center;
}

.btns_painel {
    text-align: center;
    width: 25%;
    height: 45px;
    display: inline-block;
    margin: 10px 20px;
    line-height: 42px;
}

.btns_painel > a {
    display: block;
    height: 100%;
}

.button_painel_btns {
    width: 100%;
    height: 100%;
    position: relative;
    line-height: inherit;
}

.qtde::after {
    position: absolute;
    right: 5px;
    top: -10px;
    border-radius: 50%;
    background-color: #fff;
    color: red;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #aaa;

}

.qtde::after {
    background-color: #FF6600;
    border: none;
    box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    color: #fff;
    right: -7px;
    font-weight: bold;
    top: -7px;
}

.btn_mensagens.qtde::after {

    content: attr(qtde_mensagens);

}

.btn_ocorrencias.qtde::after {

    content: attr(qtde_ocorrencias);

}
