/**
 * @brief css painel condomino
 * @author Marcus Vinicius Brum da Costa <marcus@kondotek.com.br>
 * @date   13/09/2015
 */

.ultimos_avisos{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.board {
    width: 100%;
    margin: auto;
    background: url(/images/fundo-quadro.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0px 0px 13px #5E5E5E;
    text-align: center;
}

.avisos_visualizados {
    display: inline-block;
    text-align: center;
    background: url(/images/anotacao-verde.png) no-repeat center center;
    background-size: 100% auto;
    width: 169px;
    height: 144px;
    margin: 10px 15px 10px 15px;
}

.avisos_n_visualizados {
    display: inline-block;
    text-align: center;
    background: url(/images/anotacao-laranja.png) no-repeat center center;
    background-size: 100% auto;
    width: 169px;
    height: 144px;
    margin: 10px 15px 10px 15px;
}

/* CSS SEM BACKGROUD-IMAGE
.avisos_n_visualizados {
    display: inline-block;
    text-align: center;
    background: #FDF2AA;
    background-size: 100% auto;
    width: 169px;
    height: 144px;
    margin: 10px 15px 10px 15px;
    box-shadow: -3px 4px 5px rgba(0,0,0,.7);
}*/

.texto_avisos{
    margin-left: 5px;
    width: 160px;
    margin-top: 25%;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.carousel {
    width: 40%;
    height: 100px;
    float: left;
    border: 1px solid black;
    margin-top: 15px;
}

.votacao {
    width: 40%;
    height: 130px;
    float: right;
    margin-top: 15px;
    border-radius: 3px;
    box-shadow: 0px 0px 13px #5E5E5E;
    background-color: #ddd;
}

.votacao .titulo {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    font-size: 1.5em;
    color: #FF6600;
    font-weight: bold;
    float: left;
}

.votacao .fechar {
    width: 10%;
    text-align: center;
    margin-top: 5px;
    font-size: 1.5em;
    font-weight: bold;
    float: right;
    margin-top: -25px;
}

.voltar_votacao {
    width: 5%;
    float: left;
    display: inline-block;
    margin-left: 10px;
    margin-top: 5%;
}

.texto_votacao {
    text-align: center;
    width: 100%;
    clear: both;
    display: inline-block;
    margin-top: 5%;
}

.avancar_votacao {
    width: 5%;
    float: right;
    display: inline-block;
    margin-top: 5%;
}

.btn_votacao {
    width: 30%;
    height: 20px;
    margin-left: 5px;
}

.btns_votacao {
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: 10px;
}

.ata {
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}
