* {
padding:0;
margin:0;
}

body {
background:#F9F9F9;
}

a img {
border:none;
}

h2 {
font-family:arial;
color:#666666;
}

#topo {
width:100%;
min-width:1180px;
height:90px;
background-image:url(../img/topo.jpg);
}

#logo {
position:absolute;
margin-left:50px;
margin-top:10px;
}

#topoInfoNome {
width:450px;
height:60px;
margin-right:auto;
margin-left:auto;
background-image:url(../img/topo-info-nome.png);
background-repeat: no-repeat;
background-position:center;
text-align:center;
}

#topoInfoVotacao {
position:absolute;
height:60px;
min-width:338px;
margin-left:74%;
margin-top:4px;
padding-top:5px;
background-image:url(../img/topo-info-votacao.png);
background-repeat: no-repeat;
text-align:center;
color:#FF6600;
font-weight:bold;
font-family:arial;
}

#login {
width:100%;
min-width:900px;
height:355px;
min-height:355px;
background-image:url(../img/fundo-login.png);
background-repeat: no-repeat;
background-position:center; 
text-align:center;
font-family:arial;
line-height:25px;
color:#666666;
font-weight:bold;
}

#camposLogin{
    position: relative;
    padding-top: 65px;
}

.erroLogin {
    width:300px; 
    margin-left:auto; 
    margin-right:auto; 
    text-align:center;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:#FFFFFF; 
    font-family:arial;
    font-weight:bold;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

input[type="text"],[type="password"].input {
border:2px solid #ccc;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-o-border-radius:5px;
height:20px;
}

.titulo {
color:#666666;
font-family:arial;
font-size:16px;
font-weight:bold;
}

.subtitulo {
color:#666666;
font-family:arial;
font-size:12px;
font-weight:bold;
}

.sair {
float:right;
margin-top:-35px;
margin-right:15px;
}

#mensagem{
position:relative;
margin-left:280px;
margin-top:-38px;
color:#FF6600;
font-weight:bold;
font-family:arial;
}

#boleto{
position:relative;
margin-left:380px;
margin-top:-46px;
color:#FF6600;
font-weight:bold;
font-family:arial;
}

#visualizarcomo{
position:relative;
margin-left:466px;
margin-top:-38px;
}

#menu {
min-width:750px;
margin-left:280px;
}

#menu ul {
margin:0;
padding:0;
list-style:none;
margin-left:50px;
}
#menu li {
display:inline;
}

#menu a:link, a:visited {
font-family:Arial;
text-transform:uppercase;
text-decoration:none;
font-size:14px;
padding:5px 10px 5px 10px;
color:#666666;
font-weight:bold;
background-color:#ccc;
}
#menu a:hover {
font-family:Arial;
text-transform:uppercase;
text-decoration:none;
font-size:14px;
padding:5px 10px 5px 10px;
color:#ccc;
font-weight:bold;
background-color:#666666;
border:1px solid #FF6600;
}

#menu a.ativo{
font-family:Arial;
text-transform:uppercase;
text-decoration:none;
font-size:14px;
padding:5px 10px 5px 10px;
color:#ccc;
font-weight:bold;
background-color:#666666;
border:1px solid #FF6600;
}

#conteudo{
position:absolute;
top:130px;
width:100%;
min-width:1150px;
min-height:500px; 
text-align:center;
}

#conteudoSindico{
position:absolute;
top:110px;
width:100%;
min-width:1150px;
min-height:500px; 
text-align:center;
}

#quadro{
width:852px;
height:406px;
margin-left:auto;
margin-right:auto;
text-align:center;
background-image:url(../img/fundo-quadro.jpg);
background-repeat: no-repeat;
background-position:center; 
border:3px solid;
}

#quadroSindico{
width:852px;
height:406px;
margin-left:auto;
margin-right:auto;
text-align:center;
}

#anotacao {
float:left;
}

.btnPainelSindico {
float:left;
width:209px; 
height:81px;
margin-left:30px;
margin-right:30px;
margin-top:30px;
margin-bottom:30px;
color:#fff;
font-family:arial;
}

.numPainelSindico {
position: absolute;
width:209px;
height:81px; 
font-size:20px; 
line-height:32px;
font-weight:bold;
}

.anotacaoverde { 
float:left;
width:169px; 
height:144px;
word-wrap: break-word;
font-family:arial;
font-size:12px;
color:#666666;
margin-left:55px;
margin-right:55px;
margin-top:30px;
margin-bottom:30px;
background-image:url(../img/anotacao-verde.png);
background-repeat: no-repeat;
background-position:center;
}

.anotacaolaranja { 
float:left;
width:169px; 
height:144px;
word-wrap: break-word;
font-family:arial;
font-size:12px;
color:#666666;
margin-left:55px;
margin-right:55px;
margin-top:30px;
margin-bottom:30px;
background-image:url(../img/anotacao-laranja.png);
background-repeat: no-repeat;
background-position:center;
}

.box {
position: relative;
text-align:center;
padding-top:30%;
padding-left:12px;
width:150px;
height:140px;
}

#votacao {
position:relative;
width:452px; 
height:258px;
top:180px;
text-align:center;
margin-left:800px;
background-image:url(../img/fundo-votacao.jpg);
background-repeat: no-repeat;
background-position:center;
}

#votacaoinfo {
position:relative;
top:20px;
font-family:arial;
}

input[type="button"].votacao {
width:90px;
height:40px;
margin-left:25px;
margin-right:25px;
background:#fff;
color:#FF6600;
border:1px solid black;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
-o-border-radius:3px;
font-weight:bold;
font-size:16px;
}

input[type="button"].votacao:active {
background:#ccc;
}

#rodape{
position:relative;
top:250px;
width:100%;
min-width:1180px;
height:135px;
background-image:url(../img/rodape.jpg);
}

#rodapeSindico{
position:relative;
top:458px;
width:100%;
min-width:1180px;
height:135px;
background-image:url(../img/rodape.jpg);
}

#contato{
position:relative;
top:35px;
text-align:center;
font-size:15px;
line-height:25px;
font-family:arial;
}

#btnRodape{
float:right;
margin-top:-40px;
}