* {
padding:0;
margin:0;
}

body {
background:#F9F9F9;
height: 100%;
}

#tudo{
    height: 100%;
}

a img {
border:none;
}

h2 {
font-family:arial;
color:#666666;
}

h3 {
    color:#FF6600;
}

#topo {
width:100%;
min-width:1180px;
height:90px;
background-image:url(../img/topo.jpg);
}

#logo {
position:absolute;
margin-left:50px;
margin-top:10px;
}

#topoInfoNome {
width:450px;
height:60px;
margin-right:auto;
margin-left:auto;
background-image:url(../img/topo-info-nome.png);
background-repeat: no-repeat;
background-position:center;
text-align:center;
}

#topoInfoVotacao {
position:absolute;
height:60px;
min-width:338px;
margin-left:74%;
margin-top:4px;
padding-top:5px;
background-image:url(../img/topo-info-votacao.png);
background-repeat: no-repeat;
text-align:center;
color:#FF6600;
font-weight:bold;
font-family:arial;
}

#login {
width:100%;
min-width:900px;
height:355px;
min-height:355px;
background-image:url(../img/fundo-login.png);
background-repeat: no-repeat;
background-position:center; 
text-align:center;
padding-top:150px;
font-family:arial;
line-height:25px;
color:#666666;
font-weight:bold;
}

input[type="text"],[type="password"].input {
border:2px solid #ccc;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-o-border-radius:5px;
height:20px;
}

.titulo {
color:#666666;
font-family:arial;
font-size:16px;
font-weight:bold;
}

.subtitulo {
color:#666666;
font-family:arial;
font-size:12px;
font-weight:bold;
}

.sair {
float:right;
margin-top:-35px;
margin-right:15px;
}

#mensagem{
position:relative;
margin-left:280px;
margin-top:-38px;
color:#FF6600;
font-weight:bold;
font-family:arial;
}

#boleto{
position:relative;
margin-left:380px;
margin-top:-46px;
color:#FF6600;
font-weight:bold;
font-family:arial;
}

#visualizarcomo{
position:relative;
margin-left:466px;
margin-top:-38px;
}

#menu {
min-width:750px;
margin-left:280px;
}

#menu ul {
margin:0;
padding:0;
list-style:none;
margin-left:50px;
}
#menu li {
display:inline;
}

#menu a:link, a:visited {
font-family:Arial;
text-transform:uppercase;
text-decoration:none;
font-size:14px;
padding:5px 10px 5px 10px;
color:#666666;
font-weight:bold;
background-color:#ccc;
}
#menu a:hover {
font-family:Arial;
text-transform:uppercase;
text-decoration:none;
font-size:14px;
padding:5px 10px 5px 10px;
color:#ccc;
font-weight:bold;
background-color:#666666;
border:1px solid #FF6600;
}

#menu a.ativo{
font-family:Arial;
text-transform:uppercase;
text-decoration:none;
font-size:14px;
padding:5px 10px 5px 10px;
color:#ccc;
font-weight:bold;
background-color:#666666;
border:1px solid #FF6600;
}

#conteudo{
position:absolute;
top:130px;
width:100%;
min-width:1150px;
min-height:500px; 
text-align:center;
}

#conteudoSindico{
width:100%;
min-width:1150px;
text-align:center;
height: 100%;
}

#quadro{
width:852px;
height:406px;
margin-left:auto;
margin-right:auto;
text-align:center;
background-image:url(../img/fundo-quadro.jpg);
background-repeat: no-repeat;
background-position:center; 
border:3px solid;
}

#quadroSindico{
width:852px;
height:406px;
margin-left:auto;
margin-right:auto;
text-align:center;
}

#anotacao {
float:left;
}

.btnPainelSindico {
float:left;
width:209px; 
height:81px;
margin-left:30px;
margin-right:30px;
margin-top:30px;
margin-bottom:30px;
color:#fff;
font-family:arial;
}

.numPainelSindico {
position: absolute;
width:209px;
height:81px; 
font-size:20px; 
line-height:32px;
font-weight:bold;
}

.anotacaoverde { 
float:left;
width:169px; 
height:144px;
word-wrap: break-word;
font-family:arial;
font-size:12px;
color:#666666;
margin-left:55px;
margin-right:55px;
margin-top:30px;
margin-bottom:30px;
background-image:url(../img/anotacao-verde.png);
background-repeat: no-repeat;
background-position:center;
}

.anotacaolaranja { 
float:left;
width:169px; 
height:144px;
word-wrap: break-word;
font-family:arial;
font-size:12px;
color:#666666;
margin-left:55px;
margin-right:55px;
margin-top:30px;
margin-bottom:30px;
background-image:url(../img/anotacao-laranja.png);
background-repeat: no-repeat;
background-position:center;
}

.box {
position: relative;
text-align:center;
padding-top:30%;
padding-left:12px;
width:150px;
height:140px;
}

#votacao {
position:relative;
width:452px; 
height:258px;
top:180px;
text-align:center;
margin-left:800px;
background-image:url(../img/fundo-votacao.jpg);
background-repeat: no-repeat;
background-position:center;
}

#votacaoinfo {
position:relative;
top:20px;
font-family:arial;
}

input[type="button"].votacao {
width:90px;
height:40px;
margin-left:25px;
margin-right:25px;
background:#fff;
color:#FF6600;
border:1px solid black;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
-o-border-radius:3px;
font-weight:bold;
font-size:16px;
}

input[type="button"].votacao:active {
background:#ccc;
}

#rodape{
position:relative;
top:250px;
width:100%;
min-width:1180px;
height:135px;
background-image:url(../img/rodape.jpg);
}

#rodapeSindico{
position: relative;
width:100%;
min-width:1180px;
height:135px;
background-image:url(../img/rodape.jpg);
}

#contato{
position:relative;
top:35px;
text-align:center;
font-size:15px;
line-height:25px;
font-family:arial;
}

#btnRodape{
float:right;
margin-top:-40px;
}

/* Alerts ---------------------- */
div.alert-box { display: block; padding: 6px 7px 7px; font-weight: bold; font-size: 14px; color: white; background-color: #ff6600; border: 1px solid rgba(0, 0, 0, 0.1); margin-bottom: 12px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; text-shadow: 0 -1px rgba(0, 0, 0, 0.3); position: relative; }
div.alert-box.success { background-color: #5da423; color: #fff; text-shadow: 0 -1px rgba(0, 0, 0, 0.3); }
div.alert-box.alert { background-color: #c60f13; color: #fff; text-shadow: 0 -1px rgba(0, 0, 0, 0.3); }
div.alert-box.secondary { background-color: #666666; color: black; text-shadow: 0 1px rgba(255, 255, 255, 0.3); }
div.alert-box a.close { color: #333; position: absolute; right: 4px; top: -1px; font-size: 17px; opacity: 0.2; padding: 4px; }
div.alert-box a.close:hover, div.alert-box a.close:focus { opacity: 0.4; }

/* Normal Buttons ---------------------- */
.button { width: auto; background: #ff6600; border: 1px solid #666666; -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; color: white; cursor: pointer; display: inline-block; font-family: inherit; font-size: 14px; font-weight: bold; line-height: 1; margin: 0; padding: 10px 20px 11px; position: relative; text-align: center; text-decoration: none; -webkit-transition: background-color 0.15s ease-in-out; -moz-transition: background-color 0.15s ease-in-out; -o-transition: background-color 0.15s ease-in-out; transition: background-color 0.15s ease-in-out; /* Hovers */ /* Sizes */ /* Colors */ /* Radii */ /* Layout */ /* Disabled ---------- */ }
.button:hover, .button:focus { color: white; background-color: #FF6600; }
.button:active { -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; }
.button.large { font-size: 17px; padding: 15px 30px 16px; }
.button.medium { font-size: 14px; }
.button.small { font-size: 11px; padding: 7px 14px 8px; }
.button.tiny { font-size: 10px; padding: 5px 10px 6px; }
.button.expand { width: 100%; text-align: center; }
.button.primary { background-color: #ff6600; border: 1px solid #b34700; }
.button.primary:hover, .button.primary:focus { background-color: #cc5200; }
.button.success { background-color: #5da423; border: 1px solid #396516; color: white; }
.button.success:hover, .button.success:focus { background-color: #457a1a; }
.button.alert { background-color: #c60f13; border: 1px solid #7f0a0c; }
.button.alert:hover, .button.alert:focus { background-color: #970b0e; }
.button.secondary { background-color: #cccccc; color: black; border: 1px solid #666666; }
.button.secondary:hover, .button.secondary:focus { color: white; background-color: #FF6600; }
.button.radius { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.button.round { -webkit-border-radius: 1000px; -moz-border-radius: 1000px; -ms-border-radius: 1000px; -o-border-radius: 1000px; border-radius: 1000px; }
.button.full-width { width: 100%; text-align: center; padding-left: 0px !important; padding-right: 0px !important; }
.button.left-align { text-align: left; text-indent: 12px; }
.button.disabled, .button[disabled] { opacity: 0.6; cursor: default; background: #ff6600; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.button.disabled:hover, .button[disabled]:hover { background: #ff6600; }
.button.disabled.success, .button[disabled].success { background-color: #5da423; }
.button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus { background-color: #5da423; outline: none; }
.button.disabled.alert, .button[disabled].alert { background-color: #c60f13; }
.button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus { background-color: #c60f13; outline: none; }
.button.disabled.secondary, .button[disabled].secondary { background-color: #666666; }
.button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus { background-color: #666666; outline: none; }

/* Don't use native buttons on iOS */
input[type=submit].button, button.button { -webkit-appearance: none; }

/* Correct FF button padding */
@-moz-document url-prefix() { button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner { border: none; padding: 0; }
  input[type="submit"].tiny.button { padding: 3px 10px 4px; }
  input[type="submit"].small.button { padding: 5px 14px 6px; }
  input[type="submit"].button, input[type=submit].medium.button { padding: 8px 20px 9px; }
  input[type="submit"].large.button { padding: 13px 30px 14px; } }
  

/* Errors */
.error input, input.error, .error textarea, textarea.error { border-color: #c60f13; background-color: rgba(198, 15, 19, 0.1); }

.error label, label.error { color: #c60f13; }

.error small, small.error { display: block; padding: 6px 4px; margin-top: -13px; margin-bottom: 12px; background: #c60f13; color: #fff; font-size: 12px; font-weight: bold; -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; }

.error textarea:focus, textarea.error:focus { background: #fafafa; border-color: #b3b3b3; }

/* Tables ---------------------- */
table { background: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; margin: 0 0 18px; border: 1px solid #ddd; }

table thead, table tfoot { background: #f5f5f5; }

table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td { display: table-cell; font-size: 14px; line-height: 18px; text-align: left; }

table thead tr th, table tfoot tr td { padding: 8px 10px 9px; font-size: 14px; font-weight: bold; color: #222; }

table thead tr th:first-child, table tfoot tr td:first-child { border-left: none; }

table thead tr th:last-child, table tfoot tr td:last-child { border-right: none; }

table tbody tr.even, table tbody tr.alt { background: #f9f9f9; }

table tbody tr:nth-child(even) { background: #f9f9f9; }

table tbody tr td { color: #333; padding: 9px 10px; vertical-align: top; border: none; }

/* Panels ---------------------- */
.panel { background: #f2f2f2; border: solid 1px #e6e6e6; margin: 0 0 22px 0; padding: 20px; }
.panel > :first-child { margin-top: 0; }
.panel > :last-child { margin-bottom: 0; }
.panel.callout { background: #2ba6cb; color: #fff; border-color: #2284a1; -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); }
.panel.callout a { color: #fff; }
.panel.callout .button { background: white; border: none; color: #2ba6cb; text-shadow: none; }
.panel.callout .button:hover, .panel.callout .button:focus { background: rgba(255, 255, 255, 0.8); }
.panel.radius { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }